//compress: true

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Noto Serif', sans-serif;
  font-size: 1rem;
  color: #242424;
}


/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/wards";